.brand {
    background: #cbb09c !important
}

.brand-text {
    color: #cbb09c !important
}

form {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px
}

form .btn {
    margin: 30px;
}

.pizza {
    width: 100px;
    margin: 40px auto -30px;
    display: block;
    position: relative;
    top: -30px;
}

.box{
    padding-top: 20px;
    margin-top: 20px;
}